:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-red: #E50914;
  --primary-black: #000000;
  --primary-white: #FFFFFF;

  --tcolor-white: #FFFFFF;
  --tcolor-gray1: #8C8C8C;
  --tcolor-gray2: #757575;
  --tcolor-gray3: #999999;

  --acolor-blue: #0071EB;
  --acolor-orange: #FFA00A;
  --acolor-green: #5FA53F;

}

.rect {
  width: 520px;
  height: 312px;
  top: 146px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.25px;
  letter-spacing: -0.005em;
  text-align: left;
  border: solid 1px var(--primary-white);
  display: flex;
}

body {
  background-color: var(--primary-black);
  font-family: Signika;
  color: var(--primary-white);
}

.h1-rect {
  height: 80px;
  display: flex;
  padding-left: 40px;
  padding-top: 10px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 30px;
}

.color {
  margin-right: 100px;
}

.color2 h2 {
  margin-right: 100px;
  margin: 30px;
}

.color3 h2 {
  margin-right: 100px;
  margin: 30px;
}

.color3 {
  display: flex;
  flex-direction: column;
}

.a-rect-container {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.color .rect {
  display: flex;
  align-self: left;
  padding-left: 20px;
  align-items: center;
}


.rect-red {
  border: none;
}

.t-rect {
  width: 150px;
  height: 150px;
  top: 138px;
  gap: 0px;
  border-radius: 0;
  opacity: 0px;
  display: flex;
  color: var(--primary-black);
  line-height: 1.1;
}

.a-rect {
  width: 150px;
  height: 150px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.a-rect:has(p) {
  justify-content: space-between;
}

.ds-element-container {
  display: flex;
  gap: 2rem;
}

.t-rect:first-child {
  border-radius: 5px 0px 0px 5px;
}

.t-rect:nth-child(4) {
  border-radius: 0px 5px 5px 0px;
}


.t-color .t-rect {
  display: flex;
  align-self: left;
  padding-left: 10px;
  padding-bottom: 15px;
  align-items: end;
  font-weight: normal;
}

.t-color {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 30px;
}

#t-rect-s {
  display: flex;
  width: Fixed (70px)px;
  height: Hug (33px)px;
  padding: 5px 14px 5px 14px;
  gap: 10px;
  opacity: 0px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  letter-spacing: 2px;
}

.ds-main {
  color: var(--acolor-blue);
  width: 75px;
  height: 33px;
  letter-spacing: 2px;
  padding: 5px 14px 5px 14px;
}

.ds-main2 {
  color: var(--acolor-orange);
  width: 75px;
  height: 33px;
  letter-spacing: 2px;
  padding: 5px 14px 5px 14px;
}

.ds-main3 {
  color: var(--acolor-green);
  width: 75px;
  height: 33px;
  letter-spacing: 2px;
  padding: 5px 14px 5px 14px;
}


h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.5%;
  color: var(--primary-white);
}

h2 {
  color: var(--primary-white);
  top: 74px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 20px;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */